.modal,.login-credentials, #restaurants, #ready{
    display: none;
}
.login-username,.login-password{
    border:2px solid #cacfd2;
    color:#3c3e45;
    cursor:pointer;
    display:inline-block;
    border-radius:4px;
    background:white;
    margin:0;
    vertical-align:baseline;
    font-weight:400
}

